
body {
    font-family: 'Cinzel', serif;
    color: #ffffff;
    background-color: rgb(185, 185, 185);
    margin: 0 auto;
    display: flex;
}

h1 {
    font-size: 40px;

}

h3 {
    margin-top: 63px;
    font-size: 25px;
    
}

footer{

}


/****************ID***************/
#HomePage {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

}

#center-box {
    vertical-align: middle;
    display: table-cell;

}

#circ0 {
    position: relative;
    left: 10%;
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 10px 30px black;
    
}

#circ1 {
    position: relative;
    left: 56%;
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 10px 30px black;

}

#circ3 {
    position: relative;
    left: 10%;    
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 10px 30px black;
}

#circ4 {
    position: relative;
    left: 56%;
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    text-align: center;
    display: inline-block;
    box-shadow: 5px 10px 30px black;
    
}

#name {
    text-align: center;
    margin: 135px 0;
}

/******************CLASSES************/

.container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    display: grid;

}

.topRow {
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.rowMiddle {
    height: 300px;
    align-content: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 100%;
    width: 300px;
}

.rowBottom{
    position:relative;
    display: flex;
    height: 150px;
}
